<div class="footer">
    <p>2022 par AVENTURES GUSTATIVES</p>

    <a href="https://www.instagram.com/?hl=fr">Instagram</a>

    <a href="https://fr-fr.facebook.com/">Facebook</a>

    <a href="https://www.pinterest.fr/">Pinterest</a>

    <a href="https://www.youtube.com/">YouTube</a>
</div>